<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="content">

    <div>
        <h1>Cadastro de Cliente</h1>

        <div id="mensagemDeSucesso" th:if="${msg != null}">
            <span th:text="${msg}"></span>
        </div>
        <br/>


        <form method="post" th:action="${!editMode} ? @{/public/cliente/save} : @{/cliente/save}" th:object="${cliente}">
            <fieldset>

                <input type="hidden" th:field="*{id}"/>

                <!--CAMPO NOME-->
                <label for="nome">Nome: </label><br/>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome..." th:field="*{nome}"
                th:classappend="${#fields.hasErrors('nome')} ? 'inputError' : ''"/>
                <br/><br/>

                <div id="mensagemDeErro" th:if="${#fields.hasErrors('nome')}">
                    <span th:errors="*{nome}"></span>
                </div>

                <!--CAMPO CPF-->
                <label for="cpf">CPF: </label><br/>
                <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF..." th:field="*{cpf}"
                       th:classappend="${#fields.hasErrors('cpf')} ? 'inputError' : ''"
                        onkeydown="return isNumberKey(event);"/>
                <br/><br/>

                <div id="mensagemDeErro" th:if="${#fields.hasErrors('cpf')}">
                    <span th:errors="*{cpf}"></span>
                </div>

                <!--CAMPO E-MAIL-->
                <label for="email">E-mail: </label><br/>
                <input type="text" id="email" name="email" placeholder="Digite seu e-mail..." th:field="*{email}"
                       th:classappend="${#fields.hasErrors('email')} ? 'inputError' : ''"/>
                <br/><br/>

                <div id="mensagemDeErro" th:if="${#fields.hasErrors('email')}">
                    <span th:errors="*{email}"></span>
                </div>


                <!--CAMPO TELEFONE-->
                <label for="telefone">Telefone: </label><br/>
                <input type="text" id="telefone" name="telefone" placeholder="Digite seu telefone..." th:field="*{telefone}"
                       th:classappend="${#fields.hasErrors('telefone')} ? 'inputError' : ''"
                       onkeydown="return isNumberKey(event);"/>
                <br/><br/>

                <div id="mensagemDeErro" th:if="${#fields.hasErrors('telefone')}">
                    <span th:errors="*{telefone}"></span>
                </div>

                <!--CAMPO CEP-->
                <label for="cep">CEP: </label><br/>
                <input type="text" id="cep" name="cep" placeholder="Digite seu CEP..." th:field="*{cep}"
                       th:classappend="${#fields.hasErrors('cep')} ? 'inputError' : ''"
                       onkeydown="return isNumberKey(event);"/>
                <br/><br/>

                <div id="mensagemDeErro" th:if="${#fields.hasErrors('cep')}">
                    <span th:errors="*{cep}"></span>
                </div>

                <!--CAMPO SENHA-->
                <div th:if="${!editMode}">
                    <label for="senha">Senha: </label><br/>
                    <input type="password" id="senha" name="senha" placeholder="Digite sua senha..." th:field="*{senha}"
                           th:classappend="${#fields.hasErrors('senha')} ? 'inputError' : ''"/>
                    <div id="mensagemDeErro" th:if="${#fields.hasErrors('senha')}">
                        <span th:errors="*{senha}"></span>
                    </div>
                    <br/><br/>
                </div>
                <input type="hidden" name="senha" value="*" th:if="${editMode}"/>



                <input type="submit" th:value="${!editMode} ? 'Cadastrar' : 'Alterar'" />
            </fieldset>
        </form>


        <input type="button" value="Voltar" onClick="location.href='index.html';"/>


    </div>

</div>

</body>

</html>