<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">

<body>


<div layout:fragment="content">
    <!--Formulário de busca-->
    <div>
        <h1>É hora de rangar!</h1>
        <form method="post" action="clienteBusca.html">
            <fieldset id="fieldsetFiltros">
                <input type="text" name="busca" placeholder="Buscar por..."/>
                <input type="button" value="Buscar"/>
            </fieldset>
        </form>
    </div>

    <!--Categorias de comida-->
    <div id="divCategoriasComidaGeral">
        <div id="divCategoriasComidaOpcao">
            <a href="#">
                <img src="images/sys_categoriaChurrasco.png" id="imgCategoriaCaomida"/><br/>
                <span>Churrasco</span>
            </a>
        </div>

        <div id="divCategoriasComidaOpcao">
            <a href="#">
                <img src="images/sys_categoriaHamburguer.png" id="imgCategoriaCaomida"/><br/>
                <span>Hamburguer</span>
            </a>
        </div>

        <div id="divCategoriasComidaOpcao">
            <a href="#">
                <img src="images/sys_categoriaPizza.png" id="imgCategoriaCaomida"/><br/>
                <span>Pizza</span>
            </a>
        </div>

        <div id="divCategoriasComidaOpcao">
            <a href="#">
                <img src="images/sys_categoriaSalada.png" id="imgCategoriaCaomida"/><br/>
                <span>Salada</span>
            </a>
        </div>

        <div id="divCategoriasComidaOpcao">
            <a href="#">
                <img src="images/sys_categoriaSobremesa.png" id="imgCategoriaCaomida"/><br/>
                <span>Sobremesa</span>
            </a>
        </div>
    </div>

    <!--Pedidos-->
    <div>
        <h1>Últimos pedidos</h1>
        <input type="button" value="#15124 McBlunalds" onClick="location.href='clientePedido.html';"/><br/>
        <input type="button" value="#15456 Blue Pizza" onClick="location.href='clientePedido.html';"/><br/>
        <input type="button" value="#15421 Hard Blue" onClick="location.href='clientePedido.html';"/><br/>
    </div>

    <!--Conta-->
    <div>
        <h1>Conta</h1>
        <input type="button" value="Meus dados" th:onclick="'location.href=\'' + @{/cliente/edit} + '\';'"/><br/>
        <input type="button" value="Sair" th:onclick="'location.href=\'' + @{/logout} + '\';'"/><br/>
    </div>

</div>
</body>

</html>