<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">

<body>


<div layout:fragment="content">
    <div>
        <img th:src="@{/images/bf_iconeUsuario.png}" id="imgIconeUsuario"/>
        <h1>Autenticação</h1>
        <form method="post" th:action="@{/login}">
            <fieldset>
                <input type="text" name="username" placeholder="Insira o seu e-mail"/>
                <input type="password" name="password" placeholder="Insira sua senha"/>
                <input type="submit" value="Entrar"/>
            </fieldset>
        </form>
        <br/>

        <div id="mensagemDeErro" th:if="${msg != null}">
            <span th:text="${msg}"></span>
        </div>
        <br/>

        <form method="get" th:action="@{/public/cliente/new}">
            <input type="submit" value="Criar conta de cliente"/>
        </form>
        <br/>

        <form method="get" th:action="@{/public/restaurante/new}">
            <input type="submit" value="Criar conta de restaurante"/>
        </form>
        <br/>

    </div>

</div>
</body>

</html>