<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">

<body>


<div layout:fragment="content">
    <div>
        <img th:src="@{/images/bf_iconeUsuario.png}" id="imgIconeUsuario"/>
        <h1>Autenticação</h1>
        <form method="POST" action="">
            <fieldset>
                <input type="text" name="email" placeholder="Insira o seu e-mail"/>
                <input type="password" name="senha" placeholder="Insira sua senha"/>
                <input type="button" value="Entrar" onClick="location.href='clienteHome.html';"/>
            </fieldset>
        </form>
        <br/>

        <div id="mensagemDeErro">
            Aqui vai um exemplo de mensagem de erro.
        </div>
        <br/>

        <form method="get" th:action="@{/public/cliente/new}">
            <input type="submit" value="Criar conta de cliente"/>
        </form>
        <br/>
        <input type="button" value="Criar conta de restaurante" onClick="location.href='restauranteCadastro.html';"/>
        <br/>
    </div>

</div>
</body>

</html>