<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}" th:with="link=@{/restaurante/home}">

<body>


<div layout:fragment="content">

    <div>
        <h1>Configurações</h1>
        <input type="button" value="Dados básicos" th:onclick="'location.href=\'' + @{/restaurante/edit} + '\';'"/><br/>
        <input type="button" value="Comidas" th:onclick="'location.href=\'' + @{/restaurante/comidas} + '\';'"/><br/>
        <input type="button" value="Relatório de pedidos"
               onClick="location.href='restauranteRelatorioPedidos.html';"/><br/>
        <input type="button" value="Relatório de itens" onClick="location.href='restauranteRelatorioItens.html';"/><br/>
        <input type="button" value="Sair" th:onclick="'location.href=\'' + @{/logout} + '\';'"/><br/>
    </div>


    <div>
        <h1>Pedidos em Andamento</h1>
        <input type="button" value="#35435" onClick="location.href='restaurantePedido.html';"/><br/>
        <input type="button" value="#45648" onClick="location.href='restaurantePedido.html';"/><br/>
        <input type="button" value="#79878" onClick="location.href='restaurantePedido.html';"/><br/>
    </div>

</div>
</body>

</html>